1 VERSIONINFO
 FILEVERSION    0,1,0,0
 PRODUCTVERSION 0,1,0,0
BEGIN
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
   BEGIN
    VALUE "ProductName", "Furnace2Asm"
	VALUE "InternalName", "Furnace2Asm"
	VALUE "OriginalFilename", "fur2asm.exe"
	VALUE "FileDescription", "Convert Furnace project files to pret assembly source files"
	
    VALUE "ProductVersion", "0.1.0"
    VALUE "FileVersion", "0.1.0"
	
    VALUE "CompanyName", "Zumi"
	VALUE "LegalCopyright", "2023 Zumi"
   END
 END
END

1000 ICON "appIcon.ico"
